<h2>Edit Profile</h2>
<%= form_for @blogger do |f| %>
  <%= f.label 'Name: ' %>
  <%= f.text_field :name %><%= "Name #{@blogger.errors[:name].first}" if @blogger.errors.any? %><br>

  <%= f.label 'Age: ' %>
  <%= f.number_field :age %><%= "Age #{@blogger.errors[:age].first}" if @blogger.errors.any? %><br>

  <%= f.label 'Bio: ' %><br>
  <%= f.text_area :bio %><%= "Bio #{@blogger.errors[:bio].first}" if @blogger.errors.any? %><br>

  <%= f.submit %>
<% end %>